fastapi==0.111.1
fastapi-cli==0.0.4
gunicorn==22.0.0
imbalanced-learn==0.12.3
joblib==1.4.2
keras==3.6.0
lazy_loader==0.4
matplotlib==3.9.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pandas==2.2.2
pydantic==1.10.8
pydantic_core==2.20.1
scikit-image==0.24.0
scikit-learn==1.2.2
seaborn==0.13.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
transformers==4.23.0
uvicorn==0.30.3
